* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #978585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    background-color: rgb(161, 161, 240);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    color: black;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #a79d9d;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: black;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }